force-app/main/default/flows/General_MIAW_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>External_Id_Verification</name>
        <label>External Ticket Id Verification</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Saved</defaultConnectorLabel>
        <rules>
            <name>The_external_Id_is_saved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalTicketId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Messaging_Session.ExternalTicketId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_ID_Update</targetReference>
            </connector>
            <label>Not saved</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_Ticket_Id_verification</name>
        <label>External Ticket Id verification</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not has external id</defaultConnectorLabel>
        <rules>
            <name>Has_external_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalTicketId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>External_Id_Verification</targetReference>
            </connector>
            <label>Has external id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if this call have a session id</description>
        <name>Session_ID_verification</name>
        <label>Session ID verification</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not has session id</defaultConnectorLabel>
        <rules>
            <name>Has_session_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Messaging_Session</targetReference>
            </connector>
            <label>Has session id</label>
        </rules>
    </decisions>
    <description>Do the general routing identifying if the call are coming internally or externally and how to route them</description>
    <environments>Default</environments>
    <interviewLabel>External MIAW Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>General MIAW Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Messaging_Session</name>
        <label>Messaging Session</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Ticket_Id_verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>External_ID_Update</name>
        <label>External ID Update</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExternalTicketId__c</field>
            <value>
                <elementReference>externalTicketId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Session_ID_verification</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Defines the external ticket ID</description>
        <name>externalTicketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Describes if this interaction came from external channels</description>
        <name>isExternalInteraction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Defines the existing session ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
