force-app/main/default/flows/General_MIAW_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Route the work to the bot</description>
        <name>Miaw_Bot</name>
        <label>Miaw Bot</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N90400000008MkCAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Bot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G04000003Op5xEAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>MIAW Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
            <value>
                <stringValue>0Xx040000008RcgCAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
            <value>
                <stringValue>MIAW Bot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>External_Ticket_Id_verification</name>
        <label>External Ticket Id verification</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Normal_MIAW_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No external ID</defaultConnectorLabel>
        <rules>
            <name>Has_external_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalTicketId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Session_Id_Defined</targetReference>
            </connector>
            <label>Has external id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Session Id is defined</description>
        <name>Session_Id_Defined</name>
        <label>Session Id Defined</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Miaw_Bot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record ID</defaultConnectorLabel>
        <rules>
            <name>Is_defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>External_ID_Update</targetReference>
            </connector>
            <label>Is defined</label>
        </rules>
    </decisions>
    <description>Do the general routing identifying if the call are coming internally or externally and how to route them</description>
    <environments>Default</environments>
    <interviewLabel>External MIAW Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>General MIAW Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordUpdates>
        <name>External_ID_Update</name>
        <label>External ID Update</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Miaw_Bot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExternalTicketId__c</field>
            <value>
                <elementReference>externalTicketId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isExternalInteraction__c</field>
            <value>
                <elementReference>isExternalInteraction</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>External_Ticket_Id_verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Normal_MIAW_Flow</name>
        <label>Normal MIAW Flow</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <flowName>MIAWToQueue</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Defines the external ticket ID</description>
        <name>externalTicketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Describes if this interaction came from external channels</description>
        <name>isExternalInteraction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Defines the existing session ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
